<html>
    <head>

    </head>
    
    <body>
        <!--Navbar start-->
		<nav class="navbar navbar-expand-lg navbar-light bg-light text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-black" href="http://27.96.135.73:8000/yook/main"><i class="fab fa-mizuni d-inline-block align-text-top"></i> Make App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
						<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 text-black rounded" href="http://27.96.135.73:8000/yook/main">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 text-black rounded" href="http://27.96.135.73:8000/yook/main">Product</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 text-black rounded" href="http://27.96.135.73:8000/yook/main">Process</a></li>
						<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 text-black rounded" href="http://27.96.135.73:8000/yook/main">Contact</a></li>
						<li class="nav-item mx-0 mx-lg-1 dropdown">
							<a class="nav-link py-3 px-0 px-lg-3 text-black rounded dropdown-toggle id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Recruit
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="http://27.96.135.73:8000/yook/recruit">지원</a></li>
								<li><a class="dropdown-item" href="http://27.96.135.73:8000/yook/recruit_check">지원 확인</a></li>
							</ul>
						</li>
                    </ul>
                </div>
            </div>
        </nav>
		<!--Navbar end-->
        <!-- Form start -->
			<div class="container h-100 d-flex justify-content-center">
				<div class="row my-auto">
					<div class="text-center my-5"><i class="fab fa-mizuni fa-5x"></i></div>
					<p id="recruit_title" class="fs-1 text-center text-uppercase text-black my-3 mb-5">대학생 연합 앱 런칭 동아리, <span id="title">MAKE APP</span>
						<br>
						29기 지원 확인
					</p>
					<hr>
					<p id="recruit_title" class="fs-2 text-center text-uppercase text-muted mb-3 mt-5">{{ parameter1 }}님, 지원이 성공적으로 접수되었습니다.</p>
					<p id="recruit_title" class="fs-5 text-center text-uppercase text-muted"><i class="far fa-envelope"></i> 면접시간은 문자로 안내드리겠습니다.</p>
					<div class="d-grid gap-2 col-md-4 col-12 mx-auto my-5">
						<a class="btn btn-lg btn-primary" href="http://27.96.135.73:8000/yook/main" role="button">메인으로 가기</a>
					</div>
				</div>
            </div>
    </body>
</html>